* {
  box-sizing: border-box;
}

:root {
  --movement-distance        : 80px;
  --movement-distance-reverce: -80px;
  --movement-time-duration   : 0.3s;
  --card-width               : 74px;
  --border-radius            : 8px;
  --color-main               : #267ae9;
  --color-main-light         : #56c6ff;
  --color-main-dark          : #1b48b8;
  --color-text               : #ffffff;
}

.button {
  width           : 100px;
  height          : 40px;
  padding         : 0;
  border          : none;
  color           : inherit;
  text-shadow     : 1px 1px var(--color-main-dark);
  text-transform  : uppercase;
  font-size       : 16px;
  background-color: transparent;
  border-radius   : var(--border-radius);
}

.button:active {
  filter: opacity(.5);
}

.button:hover {
  background-color: var(--color-main-light);
}

.info {
  width: 40px;
}

body {
  margin    : 0;
  background: 
    radial-gradient(#267ae9 15%, transparent 16%), 
    repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%), 
    linear-gradient(45deg, transparent 49%, #4f46e4 49%, #4f46e4 51%, transparent 51%), 
    linear-gradient(-45deg, transparent 49%, #4f46e4 49%, #4f46e4 51%, transparent 51%);
  background-size : 3em 3em;
  background-color: #ffffff;
  opacity         : 1;
  color           : var(--color-text)
}

.window {
  display        : flex;
  justify-content: center;
  align-items    : center;

  height: 100vh;
}

.window__game {
  display         : flex;
  flex-direction  : column;
  row-gap         : 10px;
  padding         : 10px;
  box-shadow      : 0 3px 10px 0 var(--color-main-dark);
  border-top      : 3px solid var(--color-main-light);
  border-bottom   : 3px solid var(--color-main-dark);
  border-inline   : 1px solid var(--color-main-dark);
  border-radius   : var(--border-radius);
  background-color: var(--color-main);
}

.board {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items        : center;
  align-items          : center;
  gap                  : 6px;
  padding              : 10px;
  background-color     : var(--color-main-dark);
  border-radius        : var(--border-radius);
  box-shadow           : inset 0 0 6px 0 black;
}

.board__card {
  display           : flex;
  justify-content   : center;
  align-items       : center;
  width             : var(--card-width);
  aspect-ratio      : 1;
  font-size         : 30px;
  text-shadow       : 1px 1px var(--color-main-dark);
  position          : relative;
  animation-duration: var(--movement-time-duration);
  border            : 1px solid var(--color-main-dark);
  background-color  : var(--color-main);
  border-radius     : var(--border-radius);
  box-shadow        : 1px 1px 1px black;
}

.board__card--epty {
  color      : var(--color-main);
  text-shadow: none;
}

.buttons {
  display        : flex;
  justify-content: space-around;
  align-items    : center;
  row-gap        : 10px;
}

.motion-right {
  animation-name: motion-right;
}

.motion-left {
  animation-name: motion-left;
}

.motion-up {
  animation-name: motion-up;
}

.motion-down {
  animation-name: motion-down;
}

@keyframes motion-right {
  from{}

  to{transform: translateX(var(--movement-distance));}
}

@keyframes motion-left {
  from{}
  
  to{transform: translateX(var(--movement-distance-reverce));}
}

@keyframes motion-up {
  from{}

  to{ transform: translateY(var(--movement-distance-reverce)); }
}

@keyframes motion-down {
  from{}

  to{ transform: translateY(var(--movement-distance)); }
}